Repository devopshobbies/devops-gpt, pull requests merged in 2024-11, with the labels that each got.

#24 fix: Update Chart.yaml
  helm/Chart.yaml
Labels: helm

#25 docs(contributing): Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: README

#26 docs(gpt_name): add o character on GPT toolchain
  README.md
Labels: doc

#27 fix(Helm): add configurable NodePort support for web service
  helm/templates/web/service.yaml
  helm/values.yaml
Labels: helm

#30 feat(web): first initialization of web
  web/.gitignore
  web/README.md
  web/eslint.config.js
  web/index.html
  web/package-lock.json
  web/package.json
  web/public/vite.svg
  web/src/App.css
  web/src/App.tsx
  web/src/assets/react.svg
  web/src/index.css
  web/src/main.tsx
  web/src/vite-env.d.ts
  web/tsconfig.app.json
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.ts
Labels: doc

#36 fix(helm_prompt): resolve syntax error in model response
  app/prompt_generators.py
Labels: prompt

#39 Abolfazl/models update
  .github/labeler.yml
  app/__pycache__/prompt_generators.cpython-311.pyc
  app/directory_generators/helm_generator.py
  app/gpt_services.py
  app/media/MyHelm/Chart.yaml
  app/media/MyHelm/templates/web/deployment.yaml
  app/media/MyHelm/templates/web/helpers.tpl
  app/media/MyHelm/templates/web/secret.yaml
  app/media/MyHelm/templates/web/service.yaml
  app/media/MyHelm/values.yaml
  app/models/__pycache__/helm_models.cpython-311.pyc
  app/models/__pycache__/terraform_models.cpython-311.pyc
  app/models/__pycache__/utils.cpython-311.pyc
  app/models/helm_models.py
  app/models/terraform_models.py
  app/models/utils.py
  app/prompt_generators.py
  app/services.py
Labels: services, prompt, gpt

#44 fix(prompt): fix terraform template prompt to not consider any markdown
  app/prompt_generators.py
Labels: prompt

#37 test(main): Add unit tests for Helm template generation and IaC workf…
  README.md
  app/prompt_generators.py
  app/tests/__init__.py
  app/tests/test_helm_template.py
  app/tests/test_iac_basic.py
  app/tests/test_iac_bugfix.py
  app/tests/test_iac_install.py
  app/tests/test_iac_template.py
Labels: prompt, doc, unit-test

#48 fix(helm_prompt): modify helm prompt to generate related templates
  app/prompt_generators.py
Labels: prompt

#49 fix(helm_prompt): Enhance prompt to generate optional Ingress resources
  app/prompt_generators.py
Labels: prompt

#51 edit dockerfile
  Dockerfile
  app/__pycache__/gpt_services.cpython-311.pyc
  app/__pycache__/prompt_generators.cpython-311.pyc
  app/__pycache__/services.cpython-311.pyc
  app/directory_generators/helm_generator.py
  app/media/MyHelm/Chart.yaml
  app/media/MyHelm/templates/web/deployment.yaml
  app/media/MyHelm/templates/web/helpers.tpl
  app/media/MyHelm/templates/web/pvc.yaml
  app/media/MyHelm/templates/web/secret.yaml
  app/media/MyHelm/templates/web/secrets.yaml
  app/media/MyHelm/templates/web/service.yaml
  app/media/MyHelm/templates/web/statefulset.yaml
  app/media/MyHelm/values.yaml
  app/models/__pycache__/helm_models.cpython-311.pyc
  app/models/__pycache__/terraform_models.cpython-311.pyc
  app/models/__pycache__/utils.cpython-311.pyc
Labels: dockerfile, pydantic-models, directory-generators

#52 fix(helm-prompt): fix a little problem of statefull or deployment gen…
  app/__pycache__/prompt_generators.cpython-311.pyc
  app/directory_generators/helm_generator.py
  app/media/MyHelm/Chart.yaml
  app/media/MyHelm/templates/web/deployment.yaml
  app/media/MyHelm/templates/web/helpers.tpl
  app/media/MyHelm/templates/web/pvc.yaml
  app/media/MyHelm/templates/web/secrets.yaml
  app/media/MyHelm/templates/web/service.yaml
  app/media/MyHelm/templates/web/statefulset.yaml
  app/media/MyHelm/values.yaml
  app/prompt_generators.py
Labels: prompt, directory-generators

#53 fix(terraform_prompt): modify prompt to generate tf resources based o…
  app/prompt_generators.py
Labels: prompt

#55 fix(terraform): edit terraform model and the template generation rela…
  app/__pycache__/prompt_generators.cpython-311.pyc
  app/models/__pycache__/terraform_models.cpython-311.pyc
  app/models/terraform_models.py
  app/tests/__pycache__/test_iac_template.cpython-311-pytest-8.3.3.pyc
  app/tests/test_iac_template.py
Labels: pydantic-models, unit-test

#57 test(main): remove message assert in test_helm_template
  app/tests/test_helm_template.py
  app/tests/test_iac_basic.py
  app/tests/test_iac_bugfix.py
  app/tests/test_iac_install.py
  app/tests/test_iac_template.py
Labels: unit-test

#59 refactor(docker_iac): create template generator directory and put doc…
  .gitignore
  app/__pycache__/main.cpython-311.pyc
  app/__pycache__/prompt_generators.cpython-311.pyc
  app/directory_generators/terraform_generator.py
  app/main.py
  app/media/MyTerraform/main.tf
  app/media/MyTerraform/modules/docker/main.tf
  app/media/MyTerraform/modules/docker/terraform.tfvars
  app/media/MyTerraform/modules/docker/variables.tf
  app/media/MyTerraform/modules/docker_container/main.tf
  app/media/MyTerraform/modules/docker_container/outputs.tf
  app/media/MyTerraform/modules/docker_container/terraform.tfvars
  app/media/MyTerraform/modules/docker_container/variables.tf
  app/media/MyTerraform/modules/docker_container/versions.tf
  app/media/MyTerraform/outputs.tf
  app/media/MyTerraform/terraform.tfvars
  app/media/MyTerraform/variables.tf
  app/media/MyTerraform/versions.tf
  app/models/__pycache__/terraform_models.cpython-311.pyc
  app/models/terraform_models.py
  app/prompt_generators.py
  app/template_generators/__init__.py
  app/template_generators/__pycache__/__init__.cpython-311.pyc
  app/template_generators/terraform/__init__.py
  app/template_generators/terraform/__pycache__/__init__.cpython-311.pyc
  app/template_generators/terraform/__pycache__/docker.cpython-311.pyc
  app/template_generators/terraform/docker.py
  app/tests/__pycache__/test_helm_template.cpython-311-pytest-8.3.3.pyc
  app/tests/__pycache__/test_iac_basic.cpython-311-pytest-8.3.3.pyc
  app/tests/__pycache__/test_iac_bugfix.cpython-311-pytest-8.3.3.pyc
  app/tests/__pycache__/test_iac_install.cpython-311-pytest-8.3.3.pyc
  app/tests/__pycache__/test_iac_template.cpython-311-pytest-8.3.3.pyc
Labels: fastapi, prompt, pydantic-models, directory-generators

#62 feat(response mock): added mock data as a response
  app/__pycache__/main.cpython-311.pyc
  app/routes/__pycache__/helm.cpython-311.pyc
  app/routes/__pycache__/terraform.cpython-311.pyc
  app/routes/helm.py
  app/routes/terraform.py
  docker-compose.yml
Labels: docker-compose

#68 fix(download file): dedicate 2 file download routes
  app/__pycache__/__init__.cpython-311.pyc
  app/__pycache__/app_instance.cpython-311.pyc
  app/__pycache__/gpt_services.cpython-311.pyc
  app/__pycache__/main.cpython-311.pyc
  app/__pycache__/prompt_generators.cpython-311.pyc
  app/__pycache__/services.cpython-311.pyc
  app/__pycache__/utils.cpython-311.pyc
  app/routes/utils.py
  app/template_generators/terraform/__pycache__/__init__.cpython-311.pyc
  app/template_generators/terraform/__pycache__/docker.cpython-311.pyc
  app/template_generators/terraform/aws/__pycache__/IAM.cpython-311.pyc
  app/template_generators/terraform/aws/__pycache__/__init__.cpython-311.pyc
  app/template_generators/terraform/aws/__pycache__/ec2.cpython-311.pyc
  app/template_generators/terraform/aws/__pycache__/s3.cpython-311.pyc
Labels: pydantic-models

#70 Bug fix section
  web/src/components/internal-ui/ChatBox.tsx
  web/src/components/internal-ui/ErrorPage.tsx
  web/src/components/internal-ui/Input.tsx
  web/src/components/internal-ui/Landing.tsx
  web/src/features/basicGen/BasicGen.tsx
  web/src/features/bugFix/BugFix.tsx
  web/src/features/constants.ts
  web/src/features/model.ts
  web/src/hooks/useFormHandler.ts
  web/src/layouts/Header.tsx
  web/src/layouts/Layout.tsx
  web/src/utils/formValidator.tsx
  web/src/utils/mapperFunctions.ts
  web/src/utils/router.tsx
  web/src/utils/routing.ts
  web/src/utils/store.ts
Labels: web-ui

#74 feat(argocd): add argocd to terraform
  app/media/MyTerraform/main.tf
  app/media/MyTerraform/modules/ec2/main.tf
  app/media/MyTerraform/modules/ec2/terraform.pub
  app/media/MyTerraform/modules/ec2/terraform.tfvars
  app/media/MyTerraform/modules/ec2/variables.tf
  app/media/MyTerraform/modules/ec2/versions.tf
  app/media/MyTerraform/terraform.tfvars
  app/media/MyTerraform/variables.tf
  app/media/MyTerraform/versions.tf
  app/models/terraform_models.py
  app/routes/terraform.py
  app/template_generators/terraform/argocd.py
Labels: pydantic-models

#77 Add template generator and download section
  web/package-lock.json
  web/package.json
  web/src/components/external-ui/checkbox.tsx
  web/src/components/internal-ui/ChatBox.tsx
  web/src/components/internal-ui/CheckBox.tsx
  web/src/components/internal-ui/Input.tsx
  web/src/components/ui/menu.tsx
  web/src/features/basicGen/BasicGen.tsx
  web/src/features/bugFix/BugFix.tsx
  web/src/features/constants.ts
  web/src/features/listDirectory/hooks.ts
  web/src/features/model.ts
  web/src/features/terraform/Terraform.tsx
  web/src/features/terraform/components/Docker.tsx
  web/src/features/terraform/components/EC2.tsx
  web/src/features/terraform/components/IAM.tsx
  web/src/features/terraform/components/S3.tsx
  web/src/features/terraform/hooks.ts
  web/src/hooks/useFormHandler.ts
  web/src/hooks/usePost.ts
  web/src/main.tsx
  web/src/router.tsx
  web/src/utils/apiClient.ts
  web/src/utils/mapperFunctions.ts
  web/src/utils/nameGenerator.ts
  web/src/utils/router.tsx
  web/src/utils/routing.ts
  web/src/utils/store.ts
  web/src/vite-env.d.ts
  web/tsconfig.json
  web/vite.config.ts
Labels: web-ui

#79 adding argocd application section
  app/media/MyTerraform/main.tf
  app/media/MyTerraform/modules/ec2/main.tf
  app/media/MyTerraform/modules/ec2/terraform.pub
  app/media/MyTerraform/modules/ec2/terraform.tfvars
  app/media/MyTerraform/modules/ec2/variables.tf
  app/media/MyTerraform/modules/ec2/versions.tf
  app/media/MyTerraform/terraform.tfvars
  app/media/MyTerraform/variables.tf
  app/media/MyTerraform/versions.tf
  app/media/MyTerraform_zip.zip
  app/models/terraform_models.py
  package-lock.json
Labels: pydantic-models

#81 style(title and logo): add new title and logo
  web/index.html
  web/public/logo-svg.svg
Labels: web-ui

#86 remove sink options
  app/directory_generators/terraform_generator.py
  app/media/MyHelm/templates/deployment.yaml
  app/media/MyHelm/templates/helpers.tpl
  app/media/MyHelm/templates/secrets.yaml
  app/media/MyHelm/templates/service.yaml
  app/media/MyTerraform/.terraform/modules/modules.json
  app/media/MyTerraform/main.tf
  app/media/MyTerraform/modules/ec2/main.tf
  app/media/MyTerraform/modules/ec2/terraform.pub
  app/media/MyTerraform/modules/ec2/terraform.tfvars
  app/media/MyTerraform/modules/ec2/variables.tf
  app/media/MyTerraform/modules/ec2/versions.tf
  app/media/MyTerraform/terraform.tfvars
  app/media/MyTerraform/variables.tf
  app/media/MyTerraform/versions.tf
  app/models/terraform_models.py
Labels: pydantic-models, directory-generators

#87 feat(crawl_Terraform)
  crawl/content_parser.py
  crawl/main.py
  crawl/readme.md
  crawl/urls.csv
Labels: doc

#88 Add UI Dockerfile and include the UI service in Docker Compose
  docker-compose.yml
  web/Dockerfile
  web/nginx/nginx.conf
Labels: dockerfile, web-ui, docker-compose

#89 feat(elb&efs):declare elb and efs
  app/media/MyTerraform/modules/s3/main.tf
  app/media/MyTerraform/modules/s3/terraform.tfvars
  app/media/MyTerraform/modules/s3/variables.tf
  app/media/MyTerraform/modules/s3/versions.tf
  app/models/terraform_models.py
  app/routes/terraform.py
  app/template_generators/terraform/aws/EFS.py
  app/template_generators/terraform/aws/ELB.py
Labels: pydantic-models

#91 Update terraform model tests. Define fixtures in conftest.
  app/tests/conftest.py
  app/tests/test_iac_template.py
Labels: unit-test

#95 fix(sec group): remove
  app/models/terraform_models.py
Labels: pydantic-models

#94 Add aws_efs resources to its prompt
  app/template_generators/terraform/aws/EFS.py
Labels: template_generator_terraform_aws

#98 Modify Tests
  app/tests/conftest.py
  app/tests/test_helm_template.py
  app/tests/test_iac_basic.py
  app/tests/test_iac_bugfix.py
  app/tests/test_iac_install.py
  app/tests/test_iac_template.py
Labels: unit-test

#100 add Jcasc
  app/directory_generators/ansible_generator.py
  app/main.py
  app/media/MyAnsible/install_nginx.yaml
  app/media/MyAnsible/roles/nginx/handlers/main.yaml
  app/media/MyAnsible/roles/nginx/meta/main.yaml
  app/media/MyAnsible/roles/nginx/tasks/copy_files.yaml
  app/media/MyAnsible/roles/nginx/tasks/download_webpage.yaml
  app/media/MyAnsible/roles/nginx/tasks/install_service.yaml
  app/media/MyAnsible/roles/nginx/tasks/main.yaml
  app/media/MyAnsible/roles/nginx/tasks/unzip.yaml
  app/media/MyAnsible/roles/nginx/var/main.yaml
  app/media/MyHelm/templates/_helpers.tpl
  app/media/MyHelm/templates/web/ingress.yaml
  app/media/MyTerraform/modules/argocd/main.tf
  app/media/MyTerraform/modules/argocd/terraform.tfvars
  app/media/MyTerraform/modules/argocd/variables.tf
  app/media/MyTerraform/modules/argocd/versions.tf
  app/models/__init__.py
  app/models/jcasc.py
  app/routes/jcasc.py
  app/template_generators/ansible/install/nginx.py
  app/template_generators/jenkins/jcasc.py
Labels: fastapi, pydantic-models, directory-generators

#99 refactor(argocd): improve ArgoCD UI for better usability
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/internal-ui/PlatformBox.tsx
  web/src/features/constants.ts
  web/src/features/terraform/components/Argocd.tsx
  web/src/features/terraform/constants.ts
  web/src/utils/tailwind.ts
Labels: web-ui

#97 feat(ansible): add nginx template generator to ansible.
  app/media/MyTerraform/main.tf
  app/media/MyTerraform/modules/efs/main.tf
  app/media/MyTerraform/modules/efs/terraform.tfvars
  app/media/MyTerraform/modules/efs/variables.tf
  app/media/MyTerraform/modules/efs/versions.tf
  app/media/MyTerraform/terraform.tfvars
  app/media/MyTerraform/variables.tf
  app/media/MyTerraform/versions.tf
  app/models/ansible_models.py
  app/routes/ansible.py
  app/template_generators/ansible/install/main.py
  app/template_generators/ansible/install/nginx.py
Labels: pydantic-models, directory-generators

#103 fix(ansible_base): add ansible base
  app/directory_generators/ansible_generator.py
  app/media/MyAnsible/ansible.cfg
  app/media/MyAnsible/group_vars/nginx_nodes
  app/media/MyAnsible/hosts
  app/media/MyAnsible/nginx_playbook.yml
  app/media/MyAnsible/roles/install_nginx/tasks/main.yml
  app/media/MyAnsible/roles/install_nginx/vars/main.yml
  app/models/ansible_models.py
  app/template_generators/ansible/install/nginx.py
Labels: pydantic-models, directory-generators

#111 feat(ansible kuber): add the route and config adding to add configs t…
  app/directory_generators/ansible_generator.py
  app/media/MyAnsible/group_vars/docker_nodes
  app/media/MyAnsible/host_vars/.gitkeep
  app/models/ansible_models.py
  app/routes/ansible.py
  app/routes/utils.py
  app/template_generators/ansible/install/kuber.py
  app/template_generators/ansible/install/main.py
Labels: pydantic-models, directory-generators
