Repository devopshobbies/devops-gpt, pull requests merged in 2024-12, with the labels that each got.

#114 fix kuber version
  app/models/ansible_models.py
  app/routes/utils.py
Labels: pydantic-models

#116 fix file adding problem with adding 'shutil'
  app/directory_generators/ansible_generator.py
  app/media/MyAnsible/docker_playbook.yml
  app/media/MyAnsible/group_vars/all
  app/media/MyAnsible/group_vars/docker_nodes
  app/media/MyAnsible/host_vars/.gitkeep
  app/media/MyAnsible/hosts
  app/media/MyAnsible/kubernetes_playbook.yml
  app/media/MyAnsible/roles/init_k8s/templates/kubeadmcnf.yml.j2
  app/media/MyAnsible/roles/install_docker/tasks/main.yml
  app/media/MyAnsible/roles/install_docker/vars/main.yml
  app/media/MyAnsible/roles/join_master/templates/kubeadmcnf-join.yml.j2
  app/media/MyAnsible/roles/lb/templates/check_apiserveer.sh.j2
  app/media/MyAnsible/roles/lb/templates/haproxy.cfg.j2
  app/media/MyAnsible/roles/lb/templates/keepalived.conf.j2
  app/media/MyAnsible/roles/preinstall/defaults/main.yml
  app/media/MyAnsible/roles/preinstall/files/sample.sh
  app/media/MyAnsible/roles/preinstall/handlers/main.yml
  app/media/MyAnsible/roles/preinstall/tasks/basic.yml
  app/media/MyAnsible/roles/preinstall/tasks/main.yml
  app/media/MyAnsible/roles/preinstall/templates/resolv.conf.j2
  app/media/MyAnsible/roles/preinstall/vars/main.yml
  app/routes/ansible.py
  app/routes/utils.py
  app/template_generators/ansible/install/kuber.py
Labels: directory-generators

#117 initialize docker compose template generator
  app/directory_generators/compose_generator.py
  app/main.py
  app/models/__init__.py
  app/models/compose_models.py
  app/routes/docker.py
  app/template_generators/docker/compose.py
Labels: fastapi, pydantic-models, directory-generators

#118 feat(form): integrate Radix UI and React Hook Form for enhanced form
  web/.env.example
  web/package-lock.json
  web/package.json
  web/src/components/form/form-checkbox.tsx
  web/src/components/form/form-input.tsx
  web/src/components/form/form-select.tsx
  web/src/components/form/form-wrapper.tsx
  web/src/lib/helper.ts
  web/src/pages/helm-template/helm-template.tsx
  web/src/pages/helm-template/helm-template.types.ts
  web/src/types/form.types.ts
Labels: web-ui

#129 Resolve docker compose issue
  web/src/App.tsx
  web/src/components/navbar/navbar.tsx
  web/src/enums/api.enums.ts
  web/src/lib/helper.ts
  web/src/pages/docker-compose/components/network-fields.tsx
  web/src/pages/docker-compose/components/service-build-fields.tsx
  web/src/pages/docker-compose/components/service-depends-on-fields.tsx
  web/src/pages/docker-compose/components/service-environment-fields.tsx
  web/src/pages/docker-compose/components/service-network-fields.tsx
  web/src/pages/docker-compose/components/service-ports-fields.tsx
  web/src/pages/docker-compose/components/service-volumes-fields.tsx
  web/src/pages/docker-compose/docker-compose.tsx
  web/src/pages/docker-compose/docker-compose.type.ts
Labels: web-ui

#130 Add /api to routes
  app/media/MyCompose/docker-compose.yaml
  app/media/MyCompose_zip.zip
  app/models/compose_models.py
  app/routes/ansible.py
  app/routes/docker.py
  app/routes/helm.py
  app/routes/jcasc.py
  app/routes/terraform.py
  app/routes/utils.py
Labels: pydantic-models, directory-generators

#134 Fix UI/UX Issues in Docker Compose and Helm Template Pages
  web/src/components/form/form-input.tsx
  web/src/hooks/useDownload.ts
  web/src/lib/helper.ts
  web/src/pages/basic/basic.tsx
  web/src/pages/bug-fix/bug-fix.tsx
  web/src/pages/docker-compose/components/network-fields.tsx
  web/src/pages/docker-compose/components/service-build-fields.tsx
  web/src/pages/docker-compose/components/service-depends-on-fields.tsx
  web/src/pages/docker-compose/components/service-environment-fields.tsx
  web/src/pages/docker-compose/components/service-network-fields.tsx
  web/src/pages/docker-compose/components/service-ports-fields.tsx
  web/src/pages/docker-compose/components/service-volumes-fields.tsx
  web/src/pages/docker-compose/docker-compose.tsx
  web/src/pages/docker-compose/docker-compose.type.ts
  web/src/pages/helm-template/components/pod-environment-fields.tsx
  web/src/pages/helm-template/helm-template.tsx
  web/src/pages/installation/installation.tsx
  web/src/pages/terraform-template/ARGOCD/argocd.tsx
  web/src/pages/terraform-template/Docker/docker.tsx
  web/src/pages/terraform-template/EC2/ec2.tsx
  web/src/pages/terraform-template/IAM/iam.tsx
  web/src/pages/terraform-template/S3/s3.tsx
  web/src/styles/select.styles.ts
  web/src/types/form.types.ts
Labels: web-ui

#137 test: update urls in tests
  app/tests/test_helm_template.py
  app/tests/test_iac_basic.py
  app/tests/test_iac_bugfix.py
  app/tests/test_iac_install.py
  app/tests/test_iac_template.py
Labels: unit-test

#139 Add new tests for ansible and docker-compose
  app/tests/conftest.py
  app/tests/test_ansible.py
  app/tests/test_docker_compose.py
Labels: unit-test

#140 Add CICD workflow for the backend app
  .github/workflows/ci.yml
  .github/workflows/cicd.yml
  .github/workflows/unit-test.yml
  Makefile
  app/tests/conftest.py
  docker-compose.yml
Labels: unit-test, docker-compose

#145 modify docker compose and workflows
  .github/workflows/pylint.yml
  .github/workflows/unit-test.yml
  docker-compose.yml
Labels: docker-compose

#147 fix(jenkins): add None to os
  app/models/jenkins.py
Labels: pydantic-models

#151 feat(grafana): Creation of Grafana data sources based on user inputs
  app/main.py
  app/media/MyGrafana/mimir.yml
  app/media/grafana_datasources/alertmanager.yml
  app/media/grafana_datasources/elasticsearch.yml
  app/media/grafana_datasources/loki.yml
  app/media/grafana_datasources/mimir.yml
  app/media/grafana_datasources/mysql.yml
  app/media/grafana_datasources/postgresql.yml
  app/media/grafana_datasources/prometheus.yml
  app/media/grafana_datasources/tempo.yml
  app/models/__init__.py
  app/models/grafana/__init__.py
  app/models/grafana/alert_managers_models.py
  app/models/grafana/elastcsearch_models.py
  app/models/grafana/loki_models.py
  app/models/grafana/mimir_models.py
  app/models/grafana/mysql_models.py
  app/models/grafana/postgresql_models.py
  app/models/grafana/prometheus_models.py
  app/models/grafana/tempo_models.py
  app/routes/ansible.py
  app/routes/grafana_data_sources.py
  app/routes/helm.py
  app/routes/jcasc.py
  app/routes/terraform.py
  app/services.py
  app/template_generators/grafana_data_sources/alertmanager.py
  app/template_generators/grafana_data_sources/elasticsearch.py
  app/template_generators/grafana_data_sources/loki.py
  app/template_generators/grafana_data_sources/mimir.py
  app/template_generators/grafana_data_sources/mysql.py
  app/template_generators/grafana_data_sources/postgresql.py
  app/template_generators/grafana_data_sources/prometheus.py
  app/template_generators/grafana_data_sources/tempo.py
  app/utils.py
  requirements.txt
Labels: services, fastapi, pydantic-models, requirements

#152 Creating Grafana data sources based on user inputs
  app/main.py
  app/media/MyGrafana/mimir.yml
  app/media/grafana_datasources/alertmanager.yml
  app/media/grafana_datasources/elasticsearch.yml
  app/media/grafana_datasources/loki.yml
  app/media/grafana_datasources/mimir.yml
  app/media/grafana_datasources/mysql.yml
  app/media/grafana_datasources/postgresql.yml
  app/media/grafana_datasources/prometheus.yml
  app/media/grafana_datasources/tempo.yml
  app/models/__init__.py
  app/models/grafana/__init__.py
  app/models/grafana/alert_managers_models.py
  app/models/grafana/elastcsearch_models.py
  app/models/grafana/loki_models.py
  app/models/grafana/mimir_models.py
  app/models/grafana/mysql_models.py
  app/models/grafana/postgresql_models.py
  app/models/grafana/prometheus_models.py
  app/models/grafana/tempo_models.py
  app/routes/ansible.py
  app/routes/grafana_data_sources.py
  app/routes/helm.py
  app/routes/jcasc.py
  app/routes/terraform.py
  app/services.py
  app/template_generators/grafana_data_sources/alertmanager.py
  app/template_generators/grafana_data_sources/elasticsearch.py
  app/template_generators/grafana_data_sources/loki.py
  app/template_generators/grafana_data_sources/mimir.py
  app/template_generators/grafana_data_sources/mysql.py
  app/template_generators/grafana_data_sources/postgresql.py
  app/template_generators/grafana_data_sources/prometheus.py
  app/template_generators/grafana_data_sources/tempo.py
  app/utils.py
  requirements.txt
Labels: services, fastapi, pydantic-models, requirements

#156 Generating grafana_alerting tfvars
  app/main.py
  app/media/terraform.tfvars
  app/models/__init__.py
  app/models/grafana/terraform_alert.py
  app/routes/grafana_terraform.py
  app/template_generators/terraform/tfvars/grafana.py
Labels: fastapi, pydantic-models

#158 fix(terraform refactore): re-design terraform endpoints
  app/media/terraform.tfvars
  app/routes/grafana_terraform.py
  app/routes/terraform.py
  app/template_generators/terraform/argocd.py
  app/template_generators/terraform/aws/EFS.py
  app/template_generators/terraform/aws/IAM.py
  app/template_generators/terraform/aws/ec2.py
  app/template_generators/terraform/aws/s3.py
  app/template_generators/terraform/docker.py
Labels: template_generator_terraform_aws, template_generator_terraform_argocd, template_generator_terraform_docker

#159 fix(argocd): fix argocd pattern
  app/media/terraform.tfvars
  app/models/terraform_models.py
  app/template_generators/terraform/argocd.py
Labels: pydantic-models, template_generator_terraform_argocd

#160 Implementing terraform modules on the backend
  app/media/terraform.tfvars
  app/models/terraform_models.py
  app/routes/grafana_terraform.py
  app/routes/terraform.py
  app/template_generators/terraform/argocd.py
  app/template_generators/terraform/aws/EFS.py
  app/template_generators/terraform/aws/IAM.py
  app/template_generators/terraform/aws/ec2.py
  app/template_generators/terraform/aws/s3.py
  app/template_generators/terraform/docker.py
Labels: pydantic-models, template_generator_terraform_aws, template_generator_terraform_argocd, template_generator_terraform_docker

#161 Update README.md
  README.md
Labels: doc

#162 Update REAME.md and re-structure of openai input token
  README.md
  app/gpt_services.py
  app/models/terraform_models.py
  app/prompt_generators.py
  app/routes/terraform.py
Labels: prompt, doc, gpt, pydantic-models
